body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    border-bottom: 1px solid #C8C8C8;
    background-color: #FFF;
}

.nav a {
    color: #555;
}

    .nav a:hover {
        color: #72C02C;
    }

.nav > li > a:hover {
    background-color: white;
}

.navbar-nav > li > a {
    margin-top: 25px;
    padding-top: 5px;
    max-height: 30px;
}

.body-content {
    margin-top: 40px;
}
