@model IEnumerable<Memberships.Models.ProductSection>

@foreach (var s in Model)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" class="panel-carret" href="#collapse@{@s.Id}">
                    <span class="pull-left glyphicon glyphicon-play gly-rotate-90"></span>
                    @s.Title
                </a>
            </h4>
        </div>
        <div style="" id="collapse@{@s.Id}" class="panel-collapse collapse in">
            <div class="panel-body">
                @foreach (var item in s.Items)
                {       
                    @Html.Partial("_ProductItemRowPartial", item)      
                }
            </div>
        </div>
    </div>
    <br />
} 