@model Memberships.Models.ProductSectionModel

@{
    ViewBag.Title = "Index";
}

<div class="pc-headline">
    <h2>@Model.Title</h2>
    <a class="btn btn-primary pull-right" href="/Home/Index/">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back
    </a>
</div>

@Html.Partial("_ProductSectionPartial", Model.Sections)
