
<div class="row">  
    @if (User.Identity.IsAuthenticated)
    {
        // Displayed if the user is logged in   
        <div class="col-xs-12">    
        <h2>I'm logged in</h2>   
        </div>
    }
    else
    {
        // Displayed if the user isn't logged in
        <!--left column-->
        <div class="col-lg-9 col-md-8 col-sm-7">    
        <h2>I'm not logged in</h2>
        </div>
        <!--right column-->
        <div class="col-lg-3 col-md-4 col-sm-5">
        </div>
    }
</div>