@model Memberships.Models.ForgotPasswordViewModel

<div class="modal fade" id="pwdModal" role="dialog">
    <div class="modal-dialog">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    Forgot Password?
                    <a id="close-forgot-password" class="pull-right"
                       data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </h4>
            </div>
            <div class="panel-body">
                @Html.AntiForgeryToken()
                <p>
                    Enter the email address associated with your account to receive
                    instructions on how to reset your password.
                </p>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control reset-email", @placeholder = "Enter Your Email" })
                    <button id="resetPwd" class="btn btn-primary" type="button">
                        Reset Password
                    </button>
                </div>
                <div class="support-text">
                    <strong>Having trouble?</strong>&nbsp;Send an email to our
                    <a href="mailto:info@cshaprschool.com">Support</a>
                </div>
            </div>
        </div>
    </div>
</div>