
@if (Request.IsAuthenticated)
{
    <div class="panel panel-primary register-code-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Register Code</h4>
        </div>
        <div class="panel-body input-group">
            <input type="text" class="form-control" placeholder="Enter code here ..." />
            <button class="btn btn-primary" type="button">Submit</button>
        </div>
        <div class="alert alert-danger hidden">Could not register code</div>
    </div>
}
